<h1>Jukebox</h1>

<%= form_tag site_search_path do %>
	<%= search_field_tag :term  %>
	<%= submit_tag "Search" %>

<% end %>

<%#= params %>

<hr>
<% if @artists %>
<%# if artists is not empty  %>
	<% @artists.each do |artist| %>
		<div>
			<header><%= artist.name %></header>
			<p>Albums:</p>
			<ul>
				<% artist.albums.each do |album| %>
					<li><%= album.name %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<% end %>

<% if @albums %>
<%# if artists is not empty  %>
	<% @albums.each do |album| %>
		<div>
			<header><%= album.name %></header>
			<p>Artist: <%= album.artist.name %></p>
		</div>
	<% end %>
<% end %>